altgraph==0.17.2
asgiref==3.4.1
certifi==2021.10.8
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.9
django-on-heroku==1.1.2
djangorestframework==3.12.4
filelock==3.4.2
macholib==1.15.2
pipenv==2021.11.23
platformdirs==2.4.1
psycopg2-binary==2.9.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyJWT==2.3.0
PySimpleGUI==4.55.1
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
virtualenv==20.13.0
virtualenv-clone==0.5.7
whitenoise==5.3.0
