@import 'fonts';
@import 'colors';
@import 'header';
@import 'footer';
@import 'nav';
@import 'home';
@import 'show-campaign';
@import 'campaigns';
@import 'start-campaign';
@import 'login-modal';
@import '../../node_modules/bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mulish;
}

main {
  background-color: $background;
  min-height: 100vh;
}
