header {
  height: 80px;
  width: 100%;
  background-color: darkolivegreen;
  margin: 0;
  padding: 0;

  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .header-left {
      width: 30%;
    }
    .header-right {
      width: 30%;
    }
    .header-center {
      width: 30%;
    }
  }
}
