@import 'fonts';
@import 'colors';
@import 'header';
@import 'nav';
@import 'show-campaign';
@import '../../node_modules/bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
