header {
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  background-color: $background;

  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h1 {
      color: $dark;
      font-family: $main;
      font-weight: 900;
    }

    .header-left {
      width: 30%;
      height: 100%;

      .hamburger-container {
        border-right: 1px solid lightgrey;
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .header-right {
      width: 30%;
      display: flex;
      justify-content: right;
      align-items: center;

      button {
        border: none;
        background: none;
        padding: 0 10px;
      }
    }
    .header-centre {
      width: 30%;

      a {
        text-decoration: none;
      }
    }
  }
}

.hamburger-react {
  z-index: 1046;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .header-right button {
    display: none;
  }
  .header-left .hamburger-container {
    border: none;
  }
}
